<div class="vacancy-row">

  <div class="v-card" ng-repeat="vacancy in vm.vacancies">
    <div class="v-card-inner">
      <div class="card-content">
        <div class="card-content-head">
          <h2 class="card-content__header">{{vacancy.title}}</h2>
          <!-- <div class="v-edit">
            <i class="sidebar-ico icon-pencil"></i>
            <i class="sidebar-ico icon-cancel"></i>
          </div> -->
        </div>
        <div class="card-content__meta">
          <span class="comp">{{vacancy.company_id.name}} at {{vacancy.location}}</span>
          <span class="time">{{vacancy.creation_date | moment: 'DD.MM.YYYY'}}</span>
        </div>
        <ul class="n-skills">
          <li class="n-skills__item" ng-repeat="skill in vacancy.required_skills"><span>{{skill.text}}</span></li>
        </ul>
        <div class="content__description"></div>
      </div>
      <div class="extra">
        <div class="pos">{{vacancy.position}}</div>
        <div class="owner">
          <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/matt.jpg">
          Potato
        </div>
      </div>
      <a href="#" class="follow" ng-click="vm.subscribe(vacancy)">
        <span>Follow</span>
      </a>
    </div>
  </div>

</div>
