<form class="form" autocomplete="off">
  <div class="auth-form-body">
    <p>
      <input name="username" type="text" placeholder="USERNAME" class="input-block login-field"><span class="error-message">Blank or 3 to 12 symbols!</span>
    </p>
    <p>
      <input name="email" type="email" placeholder="EMAIL" class="input-block email-field"><span class="error-message">Incorrect email!</span>
    </p>
    <p>
      <input name="password" type="password" placeholder="PASSWORD" class="input-block password-field"><span class="error-message">Oops, wrong password!</span>
    </p>
    <div class="help-btns-wrapper">
      <p class="register-with">Register with:</p>
      <div class="social-btns"><a href="#"><i class="facebook-ico"></i></a><a href="#"><i class="google-ico"></i></a></div>
    </div>
    <button type="submit" class="register-button">Sign up</button>
    <p class="dha">Have an account? -<a ui-sref="auth.login">Sign in</a></p>
  </div>
</form>