<div class="form-content">
  <div class="s-content-head">
    <h2 class="s-content-head__header">Fill company profile fields</h2>
  </div>
  <form class="settings-form" method="post" ng-submit="vm.registerCompany()">

    <div class="settings-form__row">
      <div class="form-fields">

        <div class="form-row">
          <div class="form-row-group">
            <label for="cp-name" class="form-row-group__label">
              <i class="sidebar-ico icon-user"></i>
              Name
            </label>
            <input ng-model="vm.company.name" type="text" name="companyName" class="form-row-group__input" id="cp-name">
          </div>
          <div class="form-row-group">
            <label for="cp-location" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Location
            </label>
            <drop-down class="form-dd" placeholder="Country" property="name" selected="vm.country" dropdown-attr="vm.countries"></drop-down>
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="cp-category" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Category
            </label>
            <drop-down class="form-dd" placeholder="Category" property="name" selected="vm.category" dropdown-attr="vm.categories"></drop-down>
          </div>
          <div class="form-row-group">
            <label for="cp-yof" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Foundation
            </label>
            <input id="cp-yof" type="text" class="form-row-group__input datepicker-input" uib-datepicker-popup="{{vm.format}}" ng-model="vm.company.yof" is-open="vm.status.opened" max-date="vm.maxDate" datepicker-options="vm.dateOptions" ng-required="true" show-button-bar="false" show-weeks="false" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.open($event)"><i class="icon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="cp-email" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Email
            </label>
            <input ng-model="vm.company.email" type="text" class="form-row-group__input" id="cp-email">
          </div>
          <div class="form-row-group">
            <label for="cp-phone" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Phone
            </label>
            <input ng-model="vm.company.phone" type="text" class="form-row-group__input" id="cp-phone">
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="cp-site" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Site
            </label>
            <input ng-model="vm.company.site" type="text" class="form-row-group__input" id="cp-site">
          </div>
        </div>
        <div class="form-row">
          <div class="full-len-input">
            <label for="cp-about" class="full-len-input__label">
              <i class="sidebar-ico icon-camera sidebar-ico-full"></i>
              Description
            </label>
            <textarea ng-model="vm.company.description" class="full-len-input__input" name="description" id="cp-about"></textarea>
          </div>
        </div>
      </div>

      <div class="form-photo">
        <div class="form-photo-inner">
          <img src="images/user-default.png" alt="avatar">
          <div class="form-photo-info">
            <p>
              You can upload an company avatar here or change it.
            </p>
            <hr>
            <a href="#" class="upload-btn">
              <i class="sidebar-ico icon-camera sidebar-ico-full"></i>
              <span>Choose file ...</span>
            </a>
            <span class="filename">File name ...</span>
            <input type="file" name="upload" id="up-photo">
            <p>The maximum file size allowed is 200KB.</p>
          </div>
        </div>
      </div>

    </div>

    <button type="submit" class="form-row-group__submit-btn">Create</button>

  </form>
</div>
