<header class="content-header">
  <h1 class="content-header__name">Account</h1>
</header>
<div class="form-content">
  <h2 class="form-content__header">Change the language and basic account settings.</h2>
  <form name="fillForm" ng-submit="vm.fillProfile()" class="profile-form" novalidate>
    <div class="form-row">
      <div class="form-row-group">
        <div class="label-column">
          <label for="up-name" class="form-row-group__label">
            <i class="sidebar-ico icon-user"></i>
            FirstName
          </label>
        </div>
        <div class="input-column">
          <input ng-model="vm.name" type="text" name="name" class="form-row-group__input" id="up-name">
        </div>
      </div>
      <div class="form-row-group">
        <div class="label-column">
          <label for="up-surname" class="form-row-group__label">
            <i class="sidebar-ico icon-user"></i>
            SecondName
          </label>
        </div>
        <div class="input-column">
          <input ng-model="vm.surname" type="text" name="surname" class="form-row-group__input" id="up-surname">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row-group">
        <div class="label-column">
          <label for="up-email" class="form-row-group__label">
            <i class="sidebar-ico icon-mail"></i>
            Email
          </label>
        </div>
        <div class="input-column">
          <input ng-model="vm.email" type="email" name="email" class="form-row-group__input" id="up-email">
        </div>
      </div>
      <div class="form-row-group">
        <div class="label-column">
          <label for="up-country" class="form-row-group__label">
            <i class="sidebar-ico icon-location"></i>
            Country
          </label>
        </div>
        <div class="input-column">
          <select ng-model="vm.country" name="country" class="form-row-group__select" id="up-country">
            <option value="Belarus">Belarus</option>
            <option value="Russia">Russia</option>
            <option value="United States">United States</option>
            <option value="Canada">Canada</option>
            <option value="Ukraine">Ukraine</option>
            <option value="UK">United Kindom</option>
            <option value="France">France</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row-group">
        <div class="label-column">
          <label for="up-timezone" class="form-row-group__label">
            <i class="sidebar-ico icon-globe"></i>
            TimeZone
          </label>
        </div>
        <div class="input-column">
          <input type="date" class="form-row-group__input" id="up-timezone">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row-group">
        <div class="label-column">
          <label for="up-photo" class="form-row-group__label">
            <i class="sidebar-ico icon-camera"></i>
            Photo
          </label>
        </div>
        <div class="input-column">
          <input type="file" name="upload" id="up-photo">
        </div>
      </div>
    </div>
    <button type="submit" class="form-row-group__submit-btn">Update</button>
  </form>
</div>
