<h2>Welcome to company cabinet</h2>

<div class="c-manage-menu">
  <a class="c-manage-menu__btn" ui-sref="app.createCompany">Create Company</a>
</div>


<div class="company-card" ng-repeat="company in vm.companies">
  <div class="company-card__image">
    <img ng-src="{{vm.getImageUrl(company)}}" alt="">
  </div>
  <div class="company-card__body">
    <div class="v-edit">
      <i class="sidebar-ico icon-pencil" ui-sref="app.editCompany({id: company._id})"></i>
      <i class="sidebar-ico icon-cancel" ng-click="vm.deleteCompany(company)"></i>
    </div>
    <a ui-sref="app.companyProfile({id:company._id})" class="company-card__header">{{company.name}}</a>
    <div class="company-card__meta">
      <a href="#">{{company.creation_date | moment: 'DD.MM.YYYY'}}</a>
      <a href="#">{{company.category}}</a>
    </div>
    <div class="company-card__description">{{company.short_description}}</div>
    <div class="company-card__extra">
      <div class="company-more-btn" ui-sref="app.companyProfile({id:company._id})">More</div>
      <div class="company-owner">
        <a ui-sref="app.userProfile({id: company.owner._id})">
          <img ng-src="{{vm.getUserImageUrl(company.owner)}}" alt="">
          <span>{{company.owner.username}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
