<aside class="sideblock">
    <div class="sideblock-header">
        <a href="#" class="sideblock-header__text">
          <img src="/images/icons/interviewr_3.svg" alt="">
        </a>
    </div>
    <section class="int-section">
        <ul class="int-section__list">
            <li ng-repeat="item in vm.items" class="item" ng-class="{'active' : {{item.active}}}">
                <a ui-sref="{{item.state}}">
                    <i class="sidebar-ico {{item.icon}}"></i>
                    {{item.name}}
                </a>
            </li>
        </ul>
    </section>
    <section class="int-section">
      <h2 class="int-section__header">Company</h2>
      <ul class="int-section__list">
        <li ng-repeat="citem in vm.company" class="item" ng-class="{'active' : {{citem.active}}}">
          <a ui-sref="{{citem.state}}">
            <i class="sidebar-ico {{citem.icon}}"></i>
              {{citem.name}}
          </a>
        </li>
      </ul>
    </section>
</aside>
