<div class="c-profilebox">
  <div class="c-main-info">
    <div class="c-main-info__inner">
      <div class="c-profile-header">
        <div class="c-profile-photo">
          <img ng-src="{{vm.getImageUrl()}}" alt="company photo">
        </div>
        <div class="c-profile-info">
          <div class="c-profile-info__header-inner">
            <h2 class="c-profile-info__header">{{vm.company.name}}</h2>
            <div class="social-btns"><a href="#"><i class="facebook-ico"></i></a><a href="#"><i class="google-ico"></i></a></div>
          </div>
          <p class="c-profile-info__sm">
            <span>{{vm.company.category}}</span> |
            <span><strong>Since</strong> {{vm.company.creation_date | moment: 'DD.MM.YYYY'}}</span>
          </p>
          <p class="c-profile-info__spec"><strong>Specialization:</strong>
          <span ng-repeat="spec in vm.company.specialization">{{spec.text}}</span></p>
        </div>
      </div>
      <div class="c-profile-body">
        <div class="c-profile-body__block">
          <h2 class="c-profile-body__head">About</h2>
          <p class="c-profile-body__text">{{vm.company.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="c-sidebar-info">
    <div class="c-sidebar-info__inner">
      <div class="sidebarBox">
        <h2 class="c-sidebar-info__head">Contact data</h2>
        <ul class="c-sidebar-info-list">
          <li class="c-sidebar-info-list__item"><strong>Email:</strong> {{vm.company.email}}</li>
          <li class="c-sidebar-info-list__item"><strong>Phone:</strong> {{vm.company.phone}}</li>
          <li class="c-sidebar-info-list__item"><strong>Site:</strong> {{vm.company.site}}</li>
          <li class="c-sidebar-info-list__item"><strong>Location:</strong> {{vm.company.location}}</li>
        </ul>
      </div>
      <div class="sidebarBox">
        <h2 class="c-sidebar-info__head">Owner data</h2>
        <ul class="c-sidebar-info-list">
          <li class="c-sidebar-info-list__item"><strong>Name:</strong> {{vm.owner.name}} {{vm.owner.surname}}</li>
          <li class="c-sidebar-info-list__item"><strong>Phone:</strong> {{vm.owner.phone}}</li>
          <li class="c-sidebar-info-list__item"><strong>Email:</strong> {{vm.owner.email}}</li>
          <li class="c-sidebar-info-list__item"><strong>Country:</strong> {{vm.owner.country}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="switcher-panel">
  <div class="switcher-panel-inner">
    <a class="switcher-panel__control active" href="#">Vacancies</a>
    <a class="switcher-panel__control" href="#">Feedback</a>
  </div>
</div>

<div class="vacancy-row">
  <div class="v-card">
    <div class="v-card-inner">
      <div class="card-content">
        <div class="card-content-head">
          <h2 class="card-content__header">Big Shmata analythic</h2>
          <div class="v-edit">
            <i class="sidebar-ico icon-pencil"></i>
            <i class="sidebar-ico icon-cancel"></i>
          </div>
        </div>
        <div class="card-content__meta">
          <span class="comp">Yambex at New York</span>
          <span class="time">15 Oct 2015</span>
        </div>
        <ul class="n-skills">
          <li class="n-skills__item"><span>Apple</span></li>
          <li class="n-skills__item"><span>Orange</span></li>
          <li class="n-skills__item"><span>Potato</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
        </ul>
        <div class="content__description"></div>
      </div>
      <div class="extra">
        <div class="pos">Middle</div>
        <div class="owner">
          <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/matt.jpg">
          Potato
        </div>
      </div>
      <a href="#" class="follow">
        <span>Follow</span>
      </a>
    </div>
  </div>
  <div class="v-card">
    <div class="v-card-inner">
      <div class="card-content">
        <div class="card-content-head">
          <h2 class="card-content__header">Big Shmata analythic</h2>
          <div class="v-edit">
            <i class="sidebar-ico icon-pencil"></i>
            <i class="sidebar-ico icon-cancel"></i>
          </div>
        </div>
        <div class="card-content__meta">
          <span class="comp">Yambex at New York</span>
          <span class="time">15 Oct 2015</span>
        </div>
        <ul class="n-skills">
          <li class="n-skills__item"><span>Apple</span></li>
          <li class="n-skills__item"><span>Orange</span></li>
          <li class="n-skills__item"><span>Potato</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
          <li class="n-skills__item"><span>Raspberry</span></li>
        </ul>
        <div class="content__description"></div>
      </div>
      <div class="extra">
        <div class="pos">Middle</div>
        <div class="owner">
          <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/matt.jpg">
          Potato
        </div>
      </div>
      <a href="#" class="follow">
        <span>Follow</span>
      </a>
    </div>
  </div>
</div>
