.filter {
  @include clearfix;
  margin-bottom: 20px;
  background-color: darken($body-color, 3%);
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, .22);
}

.filter-group {
  float: left;
  width: 180px;
  margin-right: 20px;

  .selectize-input,
  .ui.selection.dropdown {
    padding: 5px 10px !important;
  }

  .selectize-input {
    border-left: 1px solid rgba(34, 36, 38, 0.15) !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
  }
}

.filter-group__label {
  @include font-size(13px);
  font-weight: 600;
  color: #666;
  margin-right: 10px;
}

.filter-group-input {
  display: inline-block;

  input {
    height: 30px;
    cursor: text !important;
    line-height: 30px !important;
    padding: 0 10px;
    color: #666;
  }
}
