// imports
@import '../utils/index';

// variables
$header-bg-color: #9bd8f1;
$header-font-color: #fff;

.container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include respond-to('small') {
    width: 750px;
  }

  @include respond-to('medium') {
    width: 970px;
  }

  @include respond-to('large') {
    width: 1170px;
  }
}

.row {
  @include make-row;
}

.content {
  padding: 60px 15px 0 15px;
  margin: 0 auto;
  position: relative;
}

.content-inner {
  @include make-row;
}

.main-area {
  /* padding: 30px 15px 0 15px; */
  padding: 30px;

  /* @media (min-width: 640px) {
    padding-left: 80px;
    padding-right: 80px;
  } */

  @include respond-to('small') {
    width: percentage(9/12);
    margin-left: 25%;
    /* padding-left: 50px;
    padding-right: 50px; */
  }

  @include respond-to('medium') {
    width: percentage(10/12);
    margin-left: 16.66666667%;
    /* padding-left: 80px;
    padding-right: 80px; */
  }
}

.content-header {
  @include clearfix;
  margin-bottom: 20px;
}

.content-header__name {
  @include font-size(24px);
  color: $primary-font-color;
  font-weight: 300;
  text-transform: uppercase;
}
