<div class="full-col">
  <header class="content-header">
    <h1 class="content-header__name c-header">Interview feedback details</h1>
  </header>

  <div class="feedbackBox">

    <div class="feedbackBox__header">
      <h2>Candidate <a href="#">Jonny Smith</a></h2>
      <p><a href="#">AngularJS Dev</a> - July 31, 2015</p>
    </div>

    <div class="feedbackBox__body">

      <div class="feedbackInfo-group">
        <label>Comment</label>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>

      <div class="feedbackInfo-group">
        <label>Personal skills</label>
        <div class="feedback-table-row">
          <table class="feedback-skills">
            <tr class="feedback-skills__row">
              <td class="feedback-skills__col">Creativity</td>
              <td class="feedback-skills__col feedback-rating">
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star"></span>
              </td>
            </tr>
            <tr class="feedback-skills__row">
              <td class="feedback-skills__col">Teamwork</td>
              <td class="feedback-skills__col feedback-rating">
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
              </td>
            </tr>
            <tr class="feedback-skills__row">
              <td class="feedback-skills__col">Communication</td>
              <td class="feedback-skills__col feedback-rating">
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="feedbackInfo-group">
        <label>Technical skills</label>
        <div class="feedback-table-row">
          <table class="feedback-skills">
            <tr class="feedback-skills__row">
              <td class="feedback-skills__col">JavaScript</td>
              <td class="feedback-skills__col feedback-rating">
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star"></span>
              </td>
            </tr>
            <tr class="feedback-skills__row">
              <td class="feedback-skills__col">HTML</td>
              <td class="feedback-skills__col feedback-rating">
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
              </td>
            </tr>
            <tr class="feedback-skills__row">
              <td class="feedback-skills__col">CSS/Sass</td>
              <td class="feedback-skills__col feedback-rating">
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star feedback-rating__star--filled"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
                <span class="feedback-rating__star"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>
