<div class="form-container">
  <div ng-show="vm.error">{{vm.error}}</div>
  <form class="form" name="form" role="form" autocomplete="off" ng-submit="vm.login()">
    <div class="auth-form-body">
      <p>
        <input ng-model="vm.username" name="username" type="text" placeholder="USERNAME" class="input-block login-field" required>
        <span class="error-message">Wrong username!</span>
      </p>
      <p>
        <input ng-model="vm.password" name="password" type="password" placeholder="PASSWORD" class="input-block password-field" required>
        <span class="error-message">Oops, wrong password!</span>
      </p>
      <div class="help-btns-wrapper"><a href="#" class="forgot-pass">Forgot password?</a>
        <div class="social-btns"><a href="#"><i class="facebook-ico"></i></a><a href="#"><i class="google-ico"></i></a></div>
      </div>
      <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="login-button">Sign in</button>
      <p class="dha">Don't have an account? -<a ui-sref="intro.register">Sign up</a></p>
    </div>
  </form>
</div>