<div class="form-content">
  <div class="s-content-head">
    <h2 class="s-content-head__header">Fill vacancy profile</h2>
  </div>
  <form class="settings-form" method="post" ng-submit="vm.registerVacancy()" name="createVacancy">
    <div class="settings-form__row">
      <div class="form-fields">

        <div class="grid">

          <div class="grid-cell">
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
              <input class="inputAdd-field" ng-model="vm.vacancy.title" type="text" placeholder="Title" name="title" ng-minlength="5" ng-maxlength="20" required>
            </div>
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-location"></i></span>
              <input class="inputAdd-field" ng-model="vm.vacancy.location" type="text" placeholder="Location" name="location" ng-minlength="5" ng-maxlength="20" required>
            </div>
          </div>

          <div class="grid-cell">
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
              <drop-down class="form-dd" placeholder="Type" property="name" display="vm.vacancy.type" selected="vm.vacancyType" dropdown-attr="vm.vacancyTypes"></drop-down>
            </div>
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-pencil-1"></i></span>
              <drop-down class="form-dd" placeholder="Position" property="name" display="vm.vacancy.position" selected="vm.position" dropdown-attr="vm.positions"></drop-down>
            </div>
          </div>

        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-pencil-1"></i></span>
              <drop-down 
                  class="form-dd" 
                  placeholder="Company" 
                  property="name" 
                  selected="vm.company" 
                  dropdown-attr="vm.companies"/>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <tags-input ng-model="vm.vacancy.required_skills"></tags-input>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <textarea ng-model="vm.vacancy.description" class="inputAdd-field" name="description" placeholder="Description" id="cp-about" ng-minlength="50" required></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="btn-col">
      <button type="submit" class="form-row-group__submit-btn">Create</button>
    </div>

  </form>
</div>
