<div class="form-content">
  <div class="s-content-head">
    <h2 class="s-content-head__header">Add your work experience.</h2>
  </div>

  <form name="fillForm" ng-submit="vm.updateProfile()" class="settings-form" novalidate>
    <div class="settings-form__row">

      <div class="exp-row" ng-repeat="experience in vm.user.experiences">

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.name.$error" ng-if="fillForm.name.$dirty">
                <div ng-message="required">You did not enter a name</div>
                <div ng-message="minlength">Your name is too short</div>
                <div ng-message="maxlength">Your name is too long</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
              <input ng-model="experience.organization" name="name" type="text" id="up-name" class="inputAdd-field" placeholder="Organization" ng-minlength="3" ng-maxlength="25" required>
            </div>
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.name.$error" ng-if="fillForm.name.$dirty">
                <div ng-message="required">You did not enter a name</div>
                <div ng-message="minlength">Your name is too short</div>
                <div ng-message="maxlength">Your name is too long</div>
              </div>
              <span class="inputAdd-item"><i class="sidebar-ico icon-user"></i></span>
              <input ng-model="experience.position" name="name" type="text" id="up-name" class="inputAdd-field" placeholder="Position" ng-minlength="3" ng-maxlength="25" required>
            </div>
          </div>
          <div class="grid-cell">
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-calendar-1"></i></span>
              <input ng-model="experience.startPeriod" type="text" class="inputAdd-field" placeholder="Start year">
            </div>
            <div class="inputAdd">
              <span class="inputAdd-item"><i class="sidebar-ico icon-calendar-1"></i></span>
              <input ng-model="experience.endPeriod" type="text" class="inputAdd-field" placeholder="End year">
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="grid-cell">
            <div class="inputAdd">
              <div class="v-form-error" ng-messages="fillForm.about.$error" ng-if="fillForm.about.$dirty">
                <div ng-message="required">You did not enter about filed</div>
                <div ng-message="minlength">About field is too short</div>
              </div>
              <textarea type="text" class="inputAdd-field" placeholder="About" ng-model="experience.about" name="about" id="up-about" ng-minlength="50" required></textarea>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="btn-col inc-exp-form">
      <a ng-click="vm.addNewExperience()">Add another job experience</a>
    </div>

    <div class="btn-col">
      <button type="submit" class="form-row-group__submit-btn">Save</button>
    </div>

  </form>

</div>
