<div class="form-content">
  <div class="s-content-head">
    <h2 class="s-content-head__header">Change basic account settings.</h2>
  </div>
  <form name="fillForm" ng-submit="vm.updateProfile()" class="settings-form" novalidate>
    <div class="settings-form__row">
      <div class="form-fields">
        <div class="form-row">
          <div class="form-row-group">
            <label for="up-name" class="form-row-group__label">
              <i class="sidebar-ico icon-user"></i>
              FirstName
            </label>
            <input ng-model="vm.user.name" type="text" name="name" class="form-row-group__input" id="up-name">
          </div>
          <div class="form-row-group">
            <label for="up-surname" class="form-row-group__label">
              <i class="sidebar-ico icon-user"></i>
              SecondName
            </label>
            <input ng-model="vm.user.surname" type="text" name="surname" class="form-row-group__input" id="up-surname">
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="up-email" class="form-row-group__label">
              <i class="sidebar-ico icon-mail"></i>
              Email
            </label>
            <input ng-model="vm.user.email" type="email" name="email" class="form-row-group__input" id="up-email">
          </div>
          <div class="form-row-group">
            <label for="up-country" class="form-row-group__label">
              <i class="sidebar-ico icon-location"></i>
              Country
            </label>
            <select ng-model="vm.user.country" name="country" class="form-row-group__select" id="up-country">
              <option value="Belarus">Belarus</option>
              <option value="Russia">Russia</option>
              <option value="United States">United States</option>
              <option value="Canada">Canada</option>
              <option value="Ukraine">Ukraine</option>
              <option value="UK">United Kindom</option>
              <option value="France">France</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="up-timezone" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              TimeZone
            </label>
            <input ng-model="vm.user.dob" type="date" class="form-row-group__input" id="up-timezone">
          </div>
          <div class="form-row-group">
            <label for="up-phone" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Phone
            </label>
            <input ng-model="vm.user.phone" type="text" class="form-row-group__input" id="up-phone">
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="up-social-twitter" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Twitter
            </label>
            <input ng-model="vm.user.social.twitter" type="text" class="form-row-group__input" id="up-social-twitter">
          </div>
          <div class="form-row-group">
            <label for="up-social-facebook" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              Facebook
            </label>
            <input ng-model="vm.user.social.facebook" type="text" class="form-row-group__input" id="up-social-facebook">
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="up-social-github" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              GitHub
            </label>
            <input ng-model="vm.user.social.github" type="text" class="form-row-group__input" id="up-social-github">
          </div>
          <div class="form-row-group">
            <label for="up-social-linkedin" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              LinkedIn
            </label>
            <input ng-model="vm.user.social.linkedin" type="text" class="form-row-group__input" id="up-social-linkedin">
          </div>
        </div>
        <div class="form-row">
          <div class="form-row-group">
            <label for="up-dob" class="form-row-group__label">
              <i class="sidebar-ico icon-globe"></i>
              DoB
            </label>
            <input ng-model="vm.user.dob" type="date" class="form-row-group__input" id="up-dob">
          </div>
        </div>
        <div class="form-row">
          <div class="full-len-input">
            <tags-input ng-model="vm.user.skills" add-on-paste="true" placeholder="add skill">
              <auto-complete source="vm.loadTags($query)"></auto-complete>
            </tags-input>
          </div>
        </div>
        <div class="form-row">
          <div class="full-len-input">
            <label for="up-about" class="full-len-input__label">
              <i class="sidebar-ico icon-camera sidebar-ico-full"></i>
              About
            </label>
            <textarea ng-model="vm.user.about" class="full-len-input__input" name="about" id="up-about"></textarea>
          </div>
        </div>
      </div>
      <div class="form-photo">
        <div class="form-photo-inner">
          <img src="images/user-default.png" alt="avatar">
          <div class="form-photo-info">
            <p>
              You can upload an avatar here or change it.
            </p>
            <hr>
            <a href="#" class="upload-btn" ng-click="vm.openFileDialog()">
              <i class="sidebar-ico icon-camera sidebar-ico-full"></i>
              <span>Choose file ...</span>
            </a>
            <input type="file" ngf-select="vm.onFileSelected()" ng-model="vm.file" name="file" accept="image/*" ngf-max-size="1MB" name="upload" id="up-photo">
            <p>The maximum file size allowed is 200KB.</p>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="form-row-group__submit-btn">Update</button>
  </form>
</div>
