// imports
@import '../utils/index';

// variables
$company-page-bg-color: #f9f9f9;
$company-page-header-bg-color: #fff;
$grid-controls-hover-color: #59728e;

.c-content-header {
  @include clearfix;
  margin-bottom: 20px;
}

.c-content-header__name {
  color: $primary-font-color;
  float: left;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.grid-controls {
  float: right;
  margin-top: 5px;

  .grid-controls__label {
    @include font-size(11px);
    vertical-align: middle;
    text-transform: uppercase;
  }

  i {
    @include font-size(18px);
    cursor: pointer;
    color: #999;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }

    &.active {
      color: #000;
    }
  }

  i:hover {
    color: #000;
  }
}
