.vacancy-row {
  @include make-row;
}

.vacancy-card {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}

.vacancy-card-inner {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.vacancy-card__head {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding-bottom: 10px;
}

.vacancy-card__head-title {
  @include font-size(18px);
  color: rgba(0, 0, 0, .87);
  font-weight: 600;
}

.vacancy-card__head-info {
  @include font-size(12px);
  color: #999;

  a {
    color: #999;
    text-decoration: underline;
  }
}

.vacancy-card__body {
  padding-bottom: 10px;

  .vacancies {
    margin: 10px 0;

    li {
      margin-right: 0;
    }
  }

  .vacancy-about {
    @include make-row;
  }

  .vacancy-about-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 35%;
    float: left;
  }

  .vacancy-about-col__text {
    @include font-size(14px);
  }
}

.vacancy-card__footer {
  @include clearfix;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.vacancy-location {
  @include font-size(12px);
  color: #999;
}

.vacancy-footer-link {
  @include font-size(12px);
  color: #999;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}
