<section class="wrapper">
  <div class="overlay">
    <div class="land-container">
      <div class="logo"><img src="../images/logo.svg" class="logo__item"></div>
      <p class="landing-about">
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
        There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain...
      </p>
      <p class="btn-wrap"><a ui-sref="auth.register" class="landing-register-link">GET STARTED FOR FREE</a></p>
      <p class="btn-wrap"><a ui-sref="auth.login" class="btn-link login-link">Sing in</a></p>
    </div>
  </div>
</section>