<section class="wrapper">
  <div class="overlay">
    <div class="land-container">
      <div class="logo"><img src="../images/logo.svg" alt="" class="logo__item"></div>
      <div class="login-container">
        <div class="form-container">
          <form class="form">
            <div class="auth-form-body">
              <p>
                <input name="username" type="text" placeholder="USERNAME" class="input-block login-field"><span class="error-message">Wrong username!</span>
              </p>
              <p>
                <input name="password" type="password" placeholder="PASSWORD" class="input-block password-field"><span class="error-message">Oops, wrong password!</span>
              </p>
              <div class="help-btns-wrapper"><a href="#" class="forgot-pass">Forgot password?</a>
                <div class="social-btns"><a href="#"><i class="facebook-ico"></i></a><a href="#"><i class="google-ico"></i></a></div>
              </div>
              <button type="submit" class="login-button">Sign in</button>
              <p class="dha">Don't have an account? -<a href="/register">Sign up</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>