<header class="c-header-wrapper">
    <div class="header-inner">
        <a class="aside-toggle-wrapper">
            <span class="btn-aside-toggle"></span>
        </a>
        <div class="navbar-header">
            <a href="#" class="c-header__name" ng-bind="pageName"></a>
        </div>
        <div class="acc-photo">
            <ul class="navbar-btns">
                <li class="navbar-btns__item">
                    <a ui-sref="app.userProfile" class="navbar-ico img-replace drop-profile">PROFILE</a>
                </li>
                <li class="navbar-btns__item"><a href="#" aria-label="Messages" class="navbar-ico img-replace tooltip-v">MESSAGES<i class="ico-controll icon-chat"></i></a></li>
                <li class="navbar-btns__item"><a ui-sref="app.regCompany" aria-label="Actions" class="navbar-ico img-replace tooltip-v">ACTIONS<i class="ico-controll icon-bell-alt"></i></a></li>
                <li class="navbar-btns__item"><a ui-sref="app.userSettings.general" aria-label="Settings" class="navbar-ico img-replace tooltip-v">SETTINGS<i class="ico-controll icon-cog-alt"></i></a></li>
                <li class="navbar-btns__item"><a href="javascript:void(0)" ng-click="vm.logout()" aria-label="Logout" class="navbar-ico img-replace tooltip-v">LOGOUT<i class="ico-controll icon-logout"></i></a></li>
            </ul>
            <a ui-sref="app.userProfile({id: vm.user._id})" class="acc-photo-link">
                <i class="icon-down-dir"></i>
                <div class="header-userinfo">
                    <p class="header-userinfo__name">{{vm.user.username}}</p>
                </div>
                <img ng-src="{{vm.getImageUrl()}}" class="acc-photo__img">
            </a>
        </div>
    </div>
</header>
