<header class="c-header-wrapper">
    <div class="header-inner"><a class="aside-toggle-wrapper"><span class="btn-aside-toggle"></span></a>
        <div class="navbar-header"><a href="#" class="c-header__name">INTERVIEWR</a></div>
        <div class="acc-photo">
            <ul class="navbar-btns">
                <li class="navbar-btns__item"><a href="#" aria-label="Search" class="navbar-ico img-replace tooltip-v">SEARCH<i class="ico-controll icon-search"></i></a></li>
                <li class="navbar-btns__item"><a href="#" aria-label="Messages" class="navbar-ico img-replace tooltip-v">MESSAGES<i class="ico-controll icon-chat-empty"></i></a></li>
                <li class="navbar-btns__item"><a href="#" aria-label="Actions" class="navbar-ico img-replace tooltip-v">ACTIONS<i class="ico-controll icon-bell"></i></a></li>
                <li class="navbar-btns__item"><a href="#" aria-label="Settings" class="navbar-ico img-replace tooltip-v">SETTINGS<i class="ico-controll icon-cog"></i></a></li>
            </ul>
            <a href="#" class="acc-photo-link">
                <i class="icon-down-dir"></i>
                <img src="images/default-user.png" class="acc-photo__img">
            </a>
        </div>
    </div>
</header>
<main role="main" class="content">
    <div class="content-inner">
        <side-bar info="test"></side-bar>
        <section class="main-area" ui-view>

        </section>
    </div>
</main>