<header class="content-header">
    <h1 class="content-header__name c-header">Set interview date here</h1>
    <div class="grid-controls">
        <span class="grid-controls__label">View</span>
        <i class="icon-th-list" ui-sref-active="active" ui-sref="app.candidates.list"></i>
        <i class="icon-th" ui-sref-active="active" ui-sref="app.candidates.grid"></i>
    </div>
</header>
<div class="vacancies-container">
    <ul class="vacancies">
        <li class="vacancies__item vacancies-tag">Vacancies:</li>
        <li class="vacancies__item"><span class="vacancies-label label-default">WEB-Designer</span></li>
        <li class="vacancies__item"><span class="vacancies-label label-primary">Android Engineer</span></li>
        <li class="vacancies__item"><span class="vacancies-label label-success">HR Manager</span></li>
        <li class="vacancies__item"><span class="vacancies-label label-info">iOS Developer</span></li>
        <li class="vacancies__item"><span class="vacancies-label label-warning">Front-End Engineer</span></li>
        <li class="vacancies__item"><span class="vacancies-label label-danger">QA Engineer</span></li>
    </ul>
</div>
<div ui-view></div>
